.navbtn {
    background-color: greenyellow;
    font-size: 11px;
    width: 10%;
    height: 10%;
    text-align: center;
display: inline-block;
position: relative;
}

/* turns it off when drp down not used */
.drop-down-box {
    display: none;
    position: absolute;
    background-color: greenyellow;

}
.navbtn:hover .drop-down-box {
    display: block;

}


.drop-down-box .navbtn {
 background-color: cadetblue;   
}